* {
    box-sizing: border-box;
    justify-content: center;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
}
  
.form-group {
    margin-bottom: 1rem;
}
  
input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
  
.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
  
.link {
    margin-top: 1rem;
    text-align: center;
}
  